<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <title>CHRIS &amp; SUZANNE</title>

    <link rel="icon" href="images/favicon.jpg">

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/css/bowcss.css" rel="stylesheet" media="screen">

    <!-- Skin CSS -->
    <!-- <link href="css/skin/light-teal/light-teal.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/skin/light-teal/light-teal-reverse-navbar.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/skin/pattern/pattern-1.css" rel="stylesheet" media="screen"> -->


</head>

    <body>
    <!-- NAVIGATION -->
    <header id="nav-header">
        <nav id="nav-bar" class="top-bar fluid-width transparent nav-center sticky-nav animation fadeInDown">

            <div id="nav-wrapper">



                <div id="mobile-nav">
                    <i class="de-icon-menu"></i>
                </div>

                <ul id="nav-menu">
                    <li class="first-child">
                        <a href="/">HOME</a>
                    </li>

                    <!--
                    <li>
                        <a href="/gallery">GALLERY</a>
                    </li>
                    -->


                    <li>
                        <a href="#">THE WEDDING</a>
                        <ul>
                            <li><a href="/location">LOCATION</a></li>
                            <!-- <li><a href="/accomodation">ACCOMODATION</a></li>
                             <li><a href="/wedding-presents">GIFT REGISTRY</a></li> -->
                         </ul>
                     </li>

                     <li>
                         <a href="/rsvp">RSVP</a>
                     </li>
                 </ul>

                 <div class="clearboth"></div>

             </div>

         </nav>
     </header> <!-- END of NAVIGATION -->
        {% block body %} {% endblock %}

    <script src="/js/bowmain.js"></script>
        {% block custom_js %} {% endblock %}

    </body>
</html>