{% use 'form_div_layout.html.twig' %}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    <div class="form-group submit-wrapper">
    {{ block('button_widget') }}
    </div>
{%- endblock submit_widget -%}

{# display errors in theme style#}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}

        {%- for error in errors -%}
            <div class="row">
            <div id="message" class="col-md-12 message" style="display: block;">
                <div class="bg-danger">{{ error.message }}</div>
            </div>
            </div>
        {%- endfor -%}

    {%- endif -%}
{%- endblock form_errors -%}

{# testing how to isolate form elements#}
{% block _invitation_email_label %}
        {{ block('form_label') }}
{% endblock %}

{%- block textarea_widget -%}
    <p>If you have specialist <strong>dietary requirements</strong> or any other requests please add them below</p>
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{# wrap the radio in a label to get button behaviour in js and css (active sets button status)#}
{%- block radio_widget -%}
<label class="btn btn-primary no-icon {% if checked %} active{% endif %}">
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
</label>
{%- endblock radio_widget -%}

{# wrap the widget in second div to pickup get button behaviour and pass active to the label#}
{%- block choice_widget_expanded -%}
<div id="input-radio-inline-custom" class="ajax-input ajax-radio" data-required="Please Fill All Field." data-output-label="Output Radio Inline Custom - 1">
        <div data-toggle="buttons" {{ block('widget_container_attributes') }}>
            {%- for child in form %}
               {{- form_widget(child) -}}
            {% endfor -%}
        </div>
</div>
{%- endblock choice_widget_expanded -%}

{# styling of the guest number drop down#}
{%- block choice_widget_collapsed -%}
    <div class="input-group">
    <div class="input-group-addon"><i class="de-icon-adult"></i></div>
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} id="input-select-icon" multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
    </div>
{%- endblock choice_widget_collapsed -%}


