{% extends 'basewedding.html.twig' %}

{% block body %}


       	<!-- MAIN SLIDER -->
    	<section id="main-slider" class="flexslider fullscreen">      	
            
            <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
        	<div class="slide-title-outter-wrapper">
            	
            	<!-- MAIN SLIDER TITLE INNER WRAPPER -->
				<div class="slide-title-inner-wrapper">
                                
                    <!-- TITLE -->
					<div class="slide-title align-middle">
                    
                    	<div class="container">
                        	<div class="row">
                        		<div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">
									
                                    <div id="save-the-date">
										<div id="save">Save</div>
                                    	<div id="the-date">The Date</div>
                                    	<div id="date">- 19<span class="pink-dot">.</span>07<span class="pink-dot">.</span>17 -</div>
                                    </div>
                                    <div class="banner-text light medium" style="letter-spacing:3px">
                                    	<h4>*** WE ARE GETTING MARRIED ***</h4>
                                    </div>         
                                    <div class="heart-divider" style="margin:0">
                                    	<span class="white-line" style="width:10px"></span>
                                        <i class="de-icon-heart pink-heart"></i>
                                        <i class="de-icon-heart white-heart"></i>
                                        <span class="white-line" style="width:10px"></span>
                                    </div>
                                   
                                                            
								</div> 
							</div>
						</div>
                        
					</div> 
                                
				</div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->
                
			</div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
                         
            <!-- MAIN SLIDER IMAGES -->

  			<ul class="slides">
            	

   				<li>
      				<!-- SLIDE IMAGE -->
                    <div data-stellar-ratio="0.5" class="slide-image animated-topslide" style="background-image:url(img/wed-9.jpg);"></div>
                    
                    <!-- SLIDE OVERLAY -->
                    <div class="slide-overlay"> </div>
    			</li>
				<li>
					<!-- SLIDE IMAGE -->
					<div data-stellar-ratio="0.5" class="slide-image animated-topslide" style="background-image:url(img/wed-14.jpg);"></div>

					<!-- SLIDE OVERLAY -->
					<div class="slide-overlay"> </div>
				</li>
				<li>
					<!-- SLIDE IMAGE -->
					<div data-stellar-ratio="0.5" class="slide-image animated-topslide" style="background-image:url(img/wed-11.jpg);"></div>

					<!-- SLIDE OVERLAY -->
					<div class="slide-overlay"> </div>
				</li>

  			</ul><!-- END of MAIN SLIDER IMAGES -->            
            
		</section><!-- ENF of MAIN SLIDER -->
        
        
        
        <!--CONTENT SECTION-->
        <section id="content">
        
            <!--COUPLE SECTION-->
            <section id="couple">
            	
                <div class="container">
                	<div class="row">
                    	
                        <!-- SECTION TITLE -->
                    	<div class="col-md-offset-1 col-md-10 text-center">
                        	
                            <div class="section-title animation fadeInUp">
                        		<h1>
                            		THE HAPPY COUPLE
                            	</h1>
                            
                            	<p class="blurb">

                           	 	</p>
                            
                            	<div class="heart-divider">
                            		<span class="grey-line"></span>
                              		<i class="de-icon-heart pink-heart"></i>
                               		<i class="de-icon-heart grey-heart"></i>
                              		<span class="grey-line"></span>
                        		</div>
                            </div>
                        </div>
                        
                        <!-- SECTION CONTENT -->
                    	<div class="col-md-offset-1 col-md-5">
                        
                        	 <!--PHOTO-ITEM-->
                             <div class="photo-item animation fadeInLeft">
								
                             		<!--HIS-PHOTO-->
                                	<img src="/img/christo2.jpg" alt="" class="">

                                    
                                    <!--PHOTO CAPTION-->
                           			<div class="layer wh95 border-photo-caption">
                                    	<div class="alignment">
                                    		<div class="v-align center-bottom">
                                            	
                                            	<div>
                                					<div class="heart-divider" style="margin:0">
                                                		<i class="de-icon-heart pink-heart"></i>
                                        				<i class="de-icon-heart white-heart"></i>
                                            		</div>
                                            		<div class="banner-text light small" style="letter-spacing:3px;">
                                    					<h4>*** THE GROOM ***</h4>
                                   					</div>  
                                                </div>
                                        	</div>
                                        </div>
                                     </div><!--END of PHOTO CAPTION-->

							
							</div><!--END of PHOTO-ITEM-->                                    
                        	
                            <p class="couple-excerpt animation fadeInLeft">
                            	<strong>Christo </strong>
                            </p>
                            
                        </div>
                        
                        <div class="col-md-5">
                        
                        	<!--PHOTO-ITEM-->
                             <div class="photo-item animation fadeInRight">
								
                             		<!--HER-PHOTO-->
                                	<img src="/img/suzanne-profile.jpg" alt="" class="">

                                            
                                	 <!--PHOTO CAPTION-->
                           			<div class="layer wh95 border-photo-caption">
                                    	<div class="alignment">
                                    		<div class="v-align center-bottom">
                                            	
                                            	<div>
                                					
                                            		<div class="heart-divider" style="margin:0">
                                                		<i class="de-icon-heart pink-heart"></i>
                                        				<i class="de-icon-heart white-heart"></i>
                                            		</div>
                                            		<div class="banner-text light small" style="letter-spacing:3px;">
                                    					<h4>*** THE BRIDE ***</h4>
                                   					</div>  
                                                </div>
                                        	</div>
                                        </div>
                                     </div><!--END of PHOTO CAPTION-->

							
							</div><!--END of PHOTO-ITEM-->  
                            
                            <p class="couple-excerpt animation fadeInRight">
                            	<strong>Suzanne </strong>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </section>     
            
            
            <!-- LOCATION & COUNTDOWN SECTION -->
            <section id="location-countdown">
            	<div class="image-divider auto-height" style="background-image:url(img/chris-suz1.jpg);" data-stellar-background-ratio="0.5">
                	
                    <div class="divider-overlay"></div>
                    
                    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax
                    <div class="alignment"> 
                    	<div class="v-align center-middle"> -->                    	
                    
                    <div class="container">                 	 
                    	<div class="row">
                        	<div class="col-md-offset-1 col-md-10 text-center">
                    	
                	 			<div class="banner-text light medium animation fadeInUp" style="letter-spacing:3px;">
                     				<h4>*** AT HUNTERS HALL, SWANTON MORLEY ***</h4>
                     			</div>   
                          		
                                <div class="animation fadeInUp">
                     			<div id="counting-down">
                     				<div id="counting">Counting</div>
                            		<div id="down">Down</div>
                     			</div>
                                </div>
                        
                        		<div class="heart-divider animation fadeInUp">
                        			<span class="white-line"></span>
                        			<i class="de-icon-heart pink-heart"></i>
                        			<i class="de-icon-heart white-heart"></i>
                        			<span class="white-line"></span>
                        		</div>
                                    

								<script>
                                    // set the date we're counting down to
                                    var target_date = new Date("Jul 19, 2017").getTime();

                                    // variables for time units
                                    var days, hours, minutes, seconds;

                                    // get tag element
                                    var countdown = document.getElementById("countdown2");

                                    // update the tag with id "countdown" every 1 second
                                    setInterval(function () {

                                        // find the amount of "seconds" between now and target
                                        var current_date = new Date().getTime();
                                        var seconds_left = (target_date - current_date) / 1000;

                                        // do some time calculations
                                        days = parseInt(seconds_left / 86400);
                                        seconds_left = seconds_left % 86400;

                                        hours = parseInt(seconds_left / 3600);
                                        seconds_left = seconds_left % 3600;

                                        minutes = parseInt(seconds_left / 60);
                                        seconds = parseInt(seconds_left % 60);

                                        // format countdown string + set tag value
                                        countdown2.innerHTML = days + "d " + hours + "h "
                                            + minutes + "m " + seconds + "s ";

                                    }, 1000);
								</script>
								<style>
									#countdown2 {
										text-align: center;
										color: #fff;
										font-weight: 700;
										font-size: 2em;
										margin: 0 25%;
										border-top: .1em solid;
										border-bottom: .1em solid;
									}
								</style>

								<h1 id="countdown2"></h1>


                     
                     		</div>
                     	</div>
                     </div>
                     
                     	<!--</div>
                   	</div>-->
                	
				</div>		
            </section>
            
            
            <!-- THE WEDDING SECTION -->
            <section id="the-wedding">
            	
                <div class="container">
               
               	 	<!-- ROW-1 -->
                	<div class="row">
                    	
                        <!-- SECTION TITLE -->
                    	<div class="col-md-12 text-center">
                        
                        	<div class="section-title animation fadeInUp">
                        		<h2>
                            		THE WEDDING
                            	</h2>
                            
                            	<p class="blurb">
                            		The wedding and reception will be set in the beautiful Norfolk countryside
                            	</p>
                            
                            	<div class="heart-divider">
                            		<span class="grey-line"></span>
                              		<i class="de-icon-heart pink-heart"></i>
                               		<i class="de-icon-heart grey-heart"></i>
                              		<span class="grey-line"></span>
                        		</div>
                          	</div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   
                   <!-- ROW-2 -->
                   <div class="row">      
                        
                        <div class="col-md-offset-1 col-md-10">
                        
                        	<div class="container-fluid">
                            	<div class="row">
                                
                                	<!-- ITEM-1 -->
                                	<div class="wedding-item col-md-4 animation fadeIn">
                                    
                                    	<!--PHOTO-ITEM-->
                        				<div class="photo-item">
								
                             				<!--PHOTO-->
                                			<img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                          					<div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                            
                                            <div class="layer wh95 border-photo-caption fade-out">
                                     		</div><!--END of PHOTO CAPTION-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<a href="location" class="de-button outline small">
                                                			GET DIRECTIONS
                                                		</a>
                                                
                                      				</div>
                                        		</div>
                                    			</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- TITLE & EXCERPT -->
                                        <div class="title-excerpt">
                                        	<h3><a href="location">LOCATION</a></h3>
                                            <p>Hunters Hall, Park Farm, Swanton Morley NR20 4JU</p>
                                        </div>
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of ITEM-1 -->
                                    
                                    
                                    <!-- ITEM-2 -->
                                    <div class="wedding-item col-md-4 animation delay1 fadeIn">
                                    
                                   		<!--PHOTO-ITEM-->
                        				<div class="photo-item">
								
                             				<!--PHOTO-->
                                			<img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                            
                                             <div class="layer wh95 border-photo-caption fade-out">
                                    	
                                     		</div><!--END of PHOTO CAPTION-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<a href="wedding-presents" class="de-button outline small">
                                                			GIFT LIST
                                                		</a>
                                                
                                      				</div>
                                        		</div>
                                    			</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- TITLE & EXCERPT -->
                                        <div class="title-excerpt">
                                        	<h3><a href="wedding-presents">WEDDING PRESENTS</a></h3>
                                            <p></p>
                                        </div>
                                        <!-- END of TITLE & EXCERPT -->
                                        
                                    </div><!-- END of ITEM-2 -->
                                    
                                    
                                    <!-- ITEM-3 -->
                                    <div class="wedding-item col-md-4 animation delay2 fadeIn">
                                    
                                   		<!--PHOTO-ITEM-->
                        				<div class="photo-item">
								
                             				<!--PHOTO-->
                                			<img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                            
                                            <div class="layer wh95 border-photo-caption fade-out">
                                    	
                                     		</div><!--END of PHOTO CAPTION-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<a href="accomodation" class="de-button outline small">
                                                			ACCOMODATION
                                                		</a>
                                                
                                      				</div>
                                        		</div>
                                    			</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- TITLE & EXCERPT -->
                                        <div class="title-excerpt">
                                        	<h3><a href="accomodation">ACCOMODATION</a></h3>
                                            <p></p>
                                        </div>
                                        <!-- END of TITLE & EXCERPT -->
                                        
                                    </div> <!-- END of ITEM-3 -->
                                    
                                </div>
                                
                                
                            </div>
                            
                        </div>                        
					</div><!-- END of ROW-2 -->
                    
				</div><!-- END of CONTAINER -->
            	
            </section>       
           
            
            <!-- RSVP SECTION -->
			<section id="rsvp">
            	
                <div class="container">
                	<div class="row">
                    
                		<!-- SECTION TITLE -->
						<div class="col-md-12 text-center ">
                   			
                            <div class="section-title animation fadeInUp">
                    			<div class="heart-divider">
									<i class="de-icon-heart pink-heart"></i>
									<i class="de-icon-heart grey-heart"></i>
								</div>
                         
								<h2>
									ARE YOU ATTENDING?
								</h2>
                            
								<p>
									Please let us know
								</p>
                                
                                <a href="rsvp" class="de-button medium animation fadeInUp">
                                	RSVP
                            	</a>
                            </div>
                    
						</div>
                
                	</div>
                </div>
                        
			</section>
		</section>
        
        <!-- FOOTER SECTION -->
            <footer>
            	<div class="image-divider fixed-height" style="background-image:url(/img/wed-16.jpg);" data-stellar-background-ratio="0.5" >
                
                	<div class="divider-overlay"></div>
                    
                    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
                    <div class="alignment"> 
                    	<div class="v-align center-middle">                  	
                    
                    		<div class="container">                 	 
                    			<div class="row">
                        			<div class="col-md-12">
                          				
                                        <div class="animation fadeInUp">
                     						<div id="thank-you">
                     							<div id="thank">Thank</div>
                            					<div id="you">You</div>
                     						</div>
                                        </div>
                        
                        				<div class="heart-divider animation delay1 fadeInUp">
                        					<span class="white-line"></span>
                        					<i class="de-icon-heart pink-heart"></i>
                        					<i class="de-icon-heart white-heart"></i>
                        					<span class="white-line"></span>
                        				</div>
                                    
										<div id="footer-couple-name" class="animation delay1 fadeInUp">
                                			CHRISTO & SUZANNE
                                		</div>
                     
                     				</div>
                     			</div>
                     		</div>
                     
                     	</div>
                   	</div>
                    
                </div>
            </footer>
 {% endblock %}