{% extends 'basewedding.html.twig' %}

{% block body %}
    <!-- MAIN SLIDER -->
    <section id="main-slider" class="fixed-height">

        <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
        <div class="slide-title-outter-wrapper">

            <!-- MAIN SLIDER TITLE INNER WRAPPER -->
            <div class="slide-title-inner-wrapper">

                <!-- TITLE 1  -->
                <div class="slide-title align-middle">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">

                                <div class="page-title">

                                    <div style="padding-top:145px">
                                        <h1 class="animation bounceInLeft">AT HUNTERS HALL</h1>

                                        <a href="#map-canvas" class="de-button outline medium animation delay1 bounceInRight smooth-scroll">
                                            GET DIRECTIONS
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

        </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

        <!-- MAIN SLIDER IMAGES -->
        <div class="slides">
            <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:center bottom">
            </div>

            <div class="slide-overlay"> </div>
        </div>	<!-- END of MAIN SLIDER IMAGES -->

    </section><!-- ENF of MAIN SLIDER -->



    <!--CONTENT SECTION-->
    <section id="content">

        <!-- CONTAINER -->
        <div class="container">

            <!-- ROW-1 -->
            <div class="row">

                <div class="col-md-offset-1 col-md-5">

                    <div class="white-box-content-wrapper animation fadeInLeft">
                        <h3>CEREMONY LOCATION</h3>
                        <span>Hunters Hall, Park Farm, Swanton Morley, NR20 4JU<br/><br/></span>
                        <p>
                            Hunters Hall is situated in the heart of Norfolk in a beautiful farmland setting.
                            It is in easy reach of Norwich, the picturesque North Norfolk Coast and the famous Norfolk Broads. With excellent transport routes including the A47 and A11
                        </p>
                        <img src="http://placehold.it/600x400" alt="" class="fullwidth">
                    </div>

                </div>

                <div class="col-md-5">

                    <div class="white-box-content-wrapper animation fadeInRight">
                        <h3>RECEPTION LOCATION</h3>
                        <span>Hunters Hall, Park Farm, Swanton Morley, NR20 4JU<br/><br/></span>
                        <p>
                            Hunters Hall is situated in the heart of Norfolk in a beautiful farmland setting.

                            It is in easy reach of Norwich, the picturesque North Norfolk Coast and the famous Norfolk Broads. With excellent transport routes including the A47 and A11
                        </p>
                        <img src="http://placehold.it/600x400" alt="" class="fullwidth">
                    </div>

                </div>

            </div><!--END of ROW-1-->



            <!-- ROW-2 -->
            <div class="row">

                <div class="col-md-12 text-center animation fadeInUp" style="padding-top:70px; padding-bottom:100px">
                    <h3>LOCAL INTERESTS</h3>
                </div>

            </div><!--END of ROW-2-->


            <!-- ROW-3 -->
            <div class="row">

                <div class="col-md-offset-1 col-md-10">

                    <!-- INTEREST AROUND ROW-1 -->
                    <div class="row animation fadeIn">
                        <div class="col-md-4">
                            <div class="interest-icon">
                                <div class="de-icon circle small-size" style="background-color:#f0394d">
                                    <i class="de-icon-basket"></i>
                                </div>
                            </div>
                            <div class="interest-blurb">
                                <span><strong>Guestrooms</strong></span>
                                <p>A choice of rooms with breakfast should you decide to stay </p>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="interest-icon">
                                <div class="de-icon circle small-size" style="background-color:#4159a8">
                                    <i class="de-icon-food"></i>
                                </div>
                            </div>
                            <div class="interest-blurb">
                                <span><strong>Pub</strong></span>
                                <p>If you choose to stay ahead of the wedding dinner is available at the local pub Darby's in Swanton Morley or other options are available in the local town of Dereham</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="interest-icon">
                                <div class="de-icon circle small-size" style="background-color:#0d9a48">
                                    <i class="de-icon-tree"></i>
                                </div>
                            </div>
                            <div class="interest-blurb">
                                <span><strong>Countryside</strong></span>
                                <p>Located in the heart of Norfolk with extensive walking routes and within reach of the river Wensum a site of <a href="https://en.wikipedia.org/wiki/River_Wensum_SSSI">special scientific interest</a></p>
                            </div>
                        </div>

                    </div>

                </div>

            </div><!--END of ROW-2-->

        </div> <!-- END of CONTAINER -->

    </section> <!--END of CONTENT SECTION-->

    <footer>
        <style>

            #google-container {
                position: relative;
                width: 100%;
                height: 200px;
                background-color: #e7eaf0;
            }
            @media only screen and (min-width: 768px) {
                #google-container {
                    height: 300px;
                }
            }
            @media only screen and (min-width: 1170px) {
                #google-container {
                    height: 600px;
                }
            }

            #cd-google-map {
                position: relative;
            }
            #cd-google-map address {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 1em 1em;
                background-color: #d94d8c;
                color: #ffffff;
                font-size: 22px;
                font-size: 1.8125rem;
            }
            @media only screen and (min-width: 768px) {
                #cd-google-map address {
                    font-size: 22px;
                    font-size: 1.9375rem;
                    text-align: center;
                }
            }

            #cd-zoom-in, #cd-zoom-out {
                height: 32px;
                width: 32px;
                cursor: pointer;
                margin-left: 10px;
                background-color: #d94d8c;
                background-repeat: no-repeat;
                background-size: 32px 64px;
                background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg");
            }
            .no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
                background-color: #d94d8c;
            }
            @media only screen and (min-width: 768px) {
                #cd-zoom-in, #cd-zoom-out {
                    margin-left: 50px;
                }
            }

            #cd-zoom-in {
                background-position: 50% 0;
                margin-top: 10px;
                margin-bottom: 1px;
            }
            @media only screen and (min-width: 768px) {
                #cd-zoom-in {
                    margin-top: 50px;
                }
            }

            #cd-zoom-out {
                background-position: 50% -32px;
            }
        </style>


        <div id="map-canvas" style="height:550px; width:100%;">
            <section id="cd-google-map">
                <div id="google-container"></div>
                <div id="cd-zoom-in"></div>
                <div id="cd-zoom-out"></div>
                <address>Hunters Hall, Park Farm, Swanton Morley, NR20 4JU</address>
            </section>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqoVZCXLSh-Ef8whER4CDagbOUN1-OC6Q"></script>
        </div>
    </footer>

{% endblock %}

{%  block custom_js %}
    <script>
        $(document).ready(function() {


            //set your google maps parameters
            var $latitude = 52.7098,
                $longitude = 1.0019,
                $map_zoom = 14;

            //google map custom marker icon - .png fallback for IE11
            var is_internetExplorer11= navigator.userAgent.toLowerCase().indexOf('trident') > -1;
            var $marker_url = ( is_internetExplorer11 ) ? 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.png' : 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location_1.svg';

            //define the basic color of your map, plus a value for saturation and brightness
            var	$main_color = '#d94d8c',
                $saturation= -20,
                $brightness= 5;

            //we define here the style of the map
            var style= [
                {
                    //set saturation for the labels on the map
                    elementType: "labels",
                    stylers: [
                        {saturation: $saturation}
                    ]
                },
                {	//poi stands for point of interest - don't show these lables on the map
                    featureType: "poi",
                    elementType: "labels",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    //don't show highways lables on the map
                    featureType: 'road.highway',
                    elementType: 'labels',
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    //don't show local road lables on the map
                    featureType: "road.local",
                    elementType: "labels.icon",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    //don't show arterial road lables on the map
                    featureType: "road.arterial",
                    elementType: "labels.icon",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    //don't show road lables on the map
                    featureType: "road",
                    elementType: "geometry.stroke",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                //style different elements on the map
                {
                    featureType: "transit",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "poi",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "poi.government",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "poi.sport_complex",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "poi.attraction",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "poi.business",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "transit",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "transit.station",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "landscape",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]

                },
                {
                    featureType: "road",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                },
                {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [
                        { hue: $main_color },
                        { visibility: "on" },
                        { lightness: $brightness },
                        { saturation: $saturation }
                    ]
                }
            ];

            //set google map options
            var map_options = {
                center: new google.maps.LatLng($latitude, $longitude),
                zoom: $map_zoom,
                panControl: false,
                zoomControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                styles: style,
            }
            //inizialize the map
            var map = new google.maps.Map(document.getElementById('google-container'), map_options);
            //add a custom marker to the map
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng($latitude, $longitude),
                map: map,
                visible: true,
                icon: $marker_url,
            });

            //add custom buttons for the zoom-in/zoom-out on the map
            function CustomZoomControl(controlDiv, map) {
                //grap the zoom elements from the DOM and insert them in the map
                var controlUIzoomIn= document.getElementById('cd-zoom-in'),
                    controlUIzoomOut= document.getElementById('cd-zoom-out');
                controlDiv.appendChild(controlUIzoomIn);
                controlDiv.appendChild(controlUIzoomOut);

                // Setup the click event listeners and zoom-in or out according to the clicked element
                google.maps.event.addDomListener(controlUIzoomIn, 'click', function() {
                    map.setZoom(map.getZoom()+1)
                });
                google.maps.event.addDomListener(controlUIzoomOut, 'click', function() {
                    map.setZoom(map.getZoom()-1)
                });
            }

            var zoomControlDiv = document.createElement('div');
            var zoomControl = new CustomZoomControl(zoomControlDiv, map);

            //insert the zoom div on the top left of the map
            map.controls[google.maps.ControlPosition.LEFT_TOP].push(zoomControlDiv);


        });
    </script>

{%  endblock %}