{% extends 'basewedding.html.twig' %}

{% block body %}
    <!-- MAIN SLIDER -->
    <section id="main-slider" class="fixed-height">

        <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
        <div class="slide-title-outter-wrapper">

            <!-- MAIN SLIDER TITLE INNER WRAPPER -->
            <div class="slide-title-inner-wrapper">

                <!-- TITLE 1  -->
                <div class="slide-title align-bottom">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">

                                <div class="page-title">
                                    <h1>RSVP</h1>

                                    <div class="heart-divider">
                                        <span class="white-line"></span>
                                        <i class="de-icon-heart pink-heart"></i>
                                        <i class="de-icon-heart white-heart"></i>
                                        <span class="white-line"></span>
                                    </div>
                                    <p>

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

        </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

        <!-- MAIN SLIDER IMAGES -->
        <div class="slides">
            <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:top;">
            </div>

            <div class="slide-overlay" style="opacity:0.2"> </div>
        </div>	<!-- END of MAIN SLIDER IMAGES -->

    </section><!-- ENF of MAIN SLIDER -->



    <!--CONTENT SECTION-->
    <section id="content">

        <!-- ICON -->
        <div class="icon-title">
            <div class="de-icon circle light large-size aligncenter">
                <i class="de-icon-mail-2"></i>
            </div>
        </div>

        <!-- CONTAINER -->
        <div class="container">

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>Thank You!</h1>
                    <p>expect to hear from us over the next few days</p>

                </div>

            </div><!--END of TEXT SECTION-->

        </div><!-- END of CONTAINER -->

    </section> <!--END of CONTENT SECTION-->


    <!-- FOOTER SECTION -->
    <footer>
        <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:400px" data-stellar-background-ratio="0.5" >

            <div class="divider-overlay"></div>

            <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
            <div class="alignment">
                <div class="v-align center-middle">

                    <!-- HEART DIVIDER & COUPLE NAME -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="heart-divider animation delay1 fadeInUp">
                                    <span class="white-line"></span>
                                    <i class="de-icon-heart pink-heart"></i>
                                    <i class="de-icon-heart white-heart"></i>
                                    <span class="white-line"></span>
                                </div>

                                <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                    CHRIS & SUZANNE
                                </div>

                            </div>
                        </div>
                    </div><!-- END of HEART DIVIDER & COUPLE NAME -->

                </div>
            </div><!-- END of Center Middle Alignment -->

        </div>
    </footer><!-- END of FOOTER SECTION -->
{% endblock %}